.line1.row {
    text-align: center;
}
h2 {
    text-align: center;
    position: relative;
    top: 26px;


}
.line2.row {
    color: #00b39b;

}
.line3.row {
    width: 75%;
    margin-left: 12%;
    margin-top: 5%;
    color: #747474;
    font-size: 16px;

}
.section1-container {
    margin-top: 3%;
    
}